.markdown-alert {
  --alert-tip: var(--color-lime-500);
  --alert-note: var(--color-blue-400);
  --alert-important: var(--color-purple-500);
  --alert-warning: var(--color-orange-400);
  --alert-caution: var(--color-red-500);
}

.markdown-alert {
  border-left: .25em solid;
  color: inherit;
  margin-bottom: 16px;
  padding: .5rem 1em
}
.markdown-alert>:last-child {
  margin-bottom: 0!important
}
.markdown-alert .markdown-alert-title {
  align-items: center;
  display: flex;
  font-size: 1em;
  margin-block: 0;
}
.markdown-alert .markdown-alert-title svg.octicon {
  margin-right: 8px!important;
  fill: currentColor;
}

.markdown-alert.markdown-alert-note {
  background-color: color-mix(in srgb, var(--alert-note) 5%, transparent);
  border-left-color: var(--alert-note);
  .markdown-alert-title {
    color: var(--alert-note);
  }
}
.markdown-alert.markdown-alert-tip {
  background-color: color-mix(in srgb, var(--alert-tip) 5%, transparent);
  border-left-color: var(--alert-tip);
  .markdown-alert-title {
    color: var(--alert-tip);
  }
}
.markdown-alert.markdown-alert-important {
  background-color: color-mix(in srgb, var(--alert-important) 5%, transparent);
  border-left-color: var(--alert-important);
  .markdown-alert-title {
    color: var(--alert-important);
  }
}
.markdown-alert.markdown-alert-warning {
  background-color: color-mix(in srgb, var(--alert-warning) 5%, transparent);
  border-left-color: var(--alert-warning);
  .markdown-alert-title {
    color: var(--alert-warning);
  }
}
.markdown-alert.markdown-alert-caution {
  background-color: color-mix(in srgb, var(--alert-caution) 5%, transparent);
  border-left-color: var(--alert-caution);
  .markdown-alert-title {
    color: var(--alert-caution);
  }
}
