.crt {
  --accent-color-alpha: rgb(from var(--accent) r g b / 0.1);
  --edge-highlight: inset 0 0.0625rem 0 rgb(255 255 255 / 0.1);
  --shadow-glow:
    0 0 0 0.0625rem var(--accent-color-alpha), 0 0.125rem 0.375rem 0.125rem var(--accent-color-alpha),
    0 0.25rem 1.5rem 0.25rem var(--accent-color-alpha);

  margin: 1rem 0;
  border-radius: 0.25rem;
  box-shadow: var(--edge-highlight), var(--shadow-glow);

  background-image: radial-gradient(
    color-mix(in srgb, var(--accent) 30%, black),
    color-mix(in srgb, var(--accent) 10%, black) 80%,
    color-mix(in srgb, var(--accent) 5%, black)
  );
}

.crt pre {
  font-family: "Courier New", Courier, monospace;
  --text-shadow-1: hsl(from var(--accent) h s l / 0.5);
  --text-shadow-2: hsl(from var(--accent) h calc(s * 2) l);

  overflow-x: auto;
  white-space: pre;
  margin: 0;
  padding: 1rem 1rem 0.5rem 1rem;
  background: transparent !important;
  box-shadow: none;
  color: var(--accent) !important;
  text-shadow:
    var(--text-shadow-1) 0 0 0.25rem,
    var(--text-shadow-2) 0 0 0.75rem;
  animation: flicker 0.25s alternate infinite;
}

@keyframes flicker {
  25% {
    opacity: 0.95;
  }
  50% {
    opacity: 0.85;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.9;
  }
}

.scanlines {
  position: relative;
  overflow: hidden;
}

.scanlines::before,
.scanlines::after {
  position: absolute;
  inset: 0;
  display: block;
  pointer-events: none;
  content: "";
}

.scanlines::before {
  z-index: 1;
  background-image: repeating-linear-gradient(
    to bottom,
    rgb(0 0 0 / 0.25),
    rgb(0 0 0 / 0.25) 0.125rem,
    transparent 0.125rem,
    transparent 0.25rem
  );
  animation: scanlines 0.1s linear infinite;
}

@keyframes scanlines {
  to {
    background-position-y: 0.25rem;
  }
}

.scanlines::after {
  --scanline-color: rgb(from var(--accent) r g b / 0.05);
  background: linear-gradient(to bottom, transparent, var(--scanline-color) 16rem) no-repeat 0 -16rem / auto 16rem;
  animation: scanline 5s linear infinite;
}

@keyframes scanline {
  to {
    background-position-y: calc(100% + 16rem);
  }
}

.cursor {
  animation: cursor-blink 1s infinite;
}

@keyframes cursor-blink {
  50% {
    opacity: 0;
  }
}
