@import "tailwindcss";
@import "./alert.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --font-article: var(--font-Libertinus),"KingHwaOldSong", "SimSun", "Songti SC", serif;
  --font-decoration: var(--font-Jost), sans-serif;
  --font-kai: "ChillKai", "SimKai", "KaiTi", "STKaiti", "Kaiti SC", Georgia, serif;
  --font-code: "Monaco", "Consolas", "Courier New", monospace;
}

@layer base {
  :root,
  html[data-theme="light"] {
    color-scheme: light;
    --background: var(--color-zinc-50);
    --foreground: var(--color-zinc-900);
    --accent: var(--color-orange-600);
    --muted: var(--color-zinc-500);
  }
  html[data-theme="dark"] {
    color-scheme: dark;
    --background: var(--color-zinc-900);
    --foreground: var(--color-zinc-300);
    --accent: var(--color-sky-300);
    --muted: var(--color-zinc-400);
  }

  html {
    @apply overflow-y-auto;
  }
  body {
    @apply min-h-dvh relative flex flex-col bg-background text-foreground
      md:px-8 md:py-8
      lg:min-h-[calc(100dvh-2rem)] lg:mx-[calc((100vw-62rem)/2)] lg:my-4;
  }
  main {
    @apply font-article;
  }
  main a {
    @apply break-words underline decoration-1 decoration-dashed underline-offset-4 hover:text-accent hover:decoration-wavy;
  }
  header,
  footer {
    @apply font-decoration;
  }
  a {
    @apply break-words hover:text-accent hover:underline hover:decoration-wavy;
  }
  hr {
    @apply border-muted;
  }
  article {
    @apply my-8 tracking-wide;
  }
  h1 {
    @apply text-3xl my-8 font-bold relative;
  }
  h1::before {
    content: "❧";
    @apply absolute -z-10 -top-20 text-muted font-normal text-[6em] opacity-20 pointer-events-none;
  }
  h2 {
    @apply text-2xl my-8 font-bold border-b border-muted border-dashed md:relative;
  }
  h3 {
    @apply text-xl my-6 font-bold italic md:relative;
  }
  h4 {
    @apply text-lg my-6 font-bold md:relative;
  }
  /* 小屏幕时 # 在后面 */
  article h2::after,
  article h3::after,
  article h4::after {
    content: "  #";
    @apply text-muted/40 not-italic cursor-pointer md:hidden;
  }
  /* 大屏幕时 # 在前面 */
  article h2::before,
  article h3::before,
  article h4::before {
    content: "#";
    @apply hidden md:block absolute -left-6 top-0 text-muted/40 not-italic cursor-pointer;
  }
  h2:hover::after,
  h3:hover::after,
  h4:hover::after,
  h2:hover::before,
  h3:hover::before,
  h4:hover::before {
    @apply text-accent;
  }
  p {
    @apply my-4 leading-6;
  }
  ul {
    @apply list-disc pl-6 my-6;
  }
  ul ul {
    @apply list-[circle];
  }
  ul ul ul {
    @apply list-[square];
  }
  ol {
    @apply list-decimal pl-6 my-6;
  }
  ol ol {
    @apply list-[lower-alpha];
  }
  ol ol ol {
    @apply list-[lower-roman];
  }
  li {
    @apply my-2;
  }
  ul > li::marker,
  ol > li::marker {
    @apply text-accent;
  }
  blockquote {
    @apply border-l-4 border-accent pl-4 my-4 font-kai;
  }
  code {
    @apply bg-muted/20 p-1 text-xs font-code;
  }
  pre {
    @apply border border-accent my-4 p-4 leading-4 rounded-sm;
  }
  table {
    @apply border-t border-b border-muted/50 border-separate border-spacing-px;
    @apply block my-6 text-sm mx-auto whitespace-nowrap overflow-x-auto max-w-fit;
    thead th {
      @apply border-b border-muted/50;
    }
    th, td {
      @apply p-2;
    }
    thead, tfoot, tbody tr:nth-child(even), code {
      @apply bg-muted/10;
    }
  }
  img {
    @apply mx-auto my-8 border border-muted/20;
  }
  figure {
    @apply mx-auto my-8;
  }
  figcaption {
    @apply text-sm text-muted mt-2;
  }
  kbd {
    @apply inline-block px-1 font-mono text-sm border-1 rounded-sm
           border-[rgba(0,0,0,0.6)] shadow-[inset_0px_-1px_0px_rgba(0,0,0,0.6)]
           dark:border-[rgba(255,255,255,0.6)] dark:shadow-[inset_0px_-1px_0px_rgba(255,255,255,0.6)]
           hover:shadow-none hover:translate-y-px;
  }
}

@layer components {
  /* ==== paged.js style ==== */
  .crop-h {
    @apply hidden md:block absolute -z-10 top-12 bottom-12 left-0 right-0 border-y border-foreground;
  }
  .crop-v {
    @apply hidden md:block absolute -z-10 top-0 bottom-0 left-12 right-12 border-x border-foreground;
  }
  .crop-c {
    @apply hidden md:block absolute -z-10 border-background top-6 left-6 right-6 bottom-6 border-[1.75rem];
  }
  /* ===== Code Blocks & Syntax Highlighting ===== */
  /* .astro-code code {
    @apply bg-inherit p-0;
  }
  html[data-theme="light"] .astro-code {
    @apply bg-(--shiki-light-bg) text-(--shiki-light) [&_span]:text-(--shiki-light);
  }
  html[data-theme="dark"] .astro-code {
    @apply bg-(--shiki-dark-bg) text-(--shiki-dark) [&_span]:text-(--shiki-dark);
  } */
}

@layer utilities {
  .max-w-app {
    @apply max-w-4xl;
  }
  .active {
    @apply border-b-[5px] -mb-[5px];
  }
  .expressive-code {
    @apply my-4;
  }
  /* 脚注底部样式 */
  .footnotes {
    @apply border-t-2 border-dotted border-muted mx-12 mt-12;
    h2 {
      @apply hidden;
    }
  }
  /* 脚注引用样式 */
  a[data-footnote-ref] {
    @apply no-underline;
    &::before {
      content: "[";
    }
    &::after {
      content: "]";
    }
  }
  /* TOC 样式 */
  .toc {
    @apply my-2 bg-muted/10 p-4;
    a {
      @apply no-underline hover:text-accent leading-8;
    }
  }
  .toc-list {
    @apply m-0 columns-1 md:columns-2 gap-6;
    li {
      @apply break-inside-avoid text-sm mr-4 my-0;
    }
    ul {
      @apply flex flex-wrap my-0 pl-4;
    }
  }

  .art {
    @apply 
      text-transparent 
      transition-all duration-200 ease-linear
      -translate-x-1 -translate-y-1
      [text-shadow:-2px_-2px_0_#6bb6ff,0_0_0_#51cf66,2px_2px_0_#ffd93d,4px_4px_0_#ff6b6b,6px_6px_0_#845ec2];
  }
  .art:hover {
    @apply 
      translate-x-0 translate-y-0
      [text-shadow:-1px_-1px_0_#6bb6ff,0_0_0_#51cf66,1px_1px_0_#ffd93d,2px_2px_0_#ff6b6b,3px_3px_0_#845ec2];
  }

  /* Platform icons */
  .icon {
    @apply inline-block align-middle -translate-y-0.5;
  }
  .icon svg {
    @apply w-5 h-5 fill-current;
  }
  .icon.mac svg {
    @apply fill-foreground dark:fill-foreground;
  }
  .icon.win svg {
    @apply fill-blue-600 dark:fill-blue-400;
  }

  .graphviz-figure {
    @apply my-8 mx-auto block;
    /* How to deal with background color? */
    /* g.graph > polygon {
      @apply fill-background;
    } */
  }
}
