---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout pageType="home">
  <div class="max-w-app mx-auto text-center">
    <div class="crt scanlines text-left">
      <pre>
> Hello, World

> Exploring EVERYTHING...<span class="cursor">_</span>


   $$$$$$\            $$\      $$\               $$\                $$\       
  $$  __$$\           $$ |     $  |              $$ |               $$ |      
  $$ /  $$ | $$$$$$$\ $$ |  $$\\_/$$$$$$$\       $$ |      $$$$$$\  $$$$$$$\  
  $$ |  $$ |$$  _____|$$ | $$ /  $$  _____|      $$ |      \____$$\ $$  __$$\ 
  $$ |  $$ |$$ /      $$$$$$ /   \$$$$$$\        $$ |      $$$$$$$ |$$ |  $$ |
  $$ $$\$$ |$$ |      $$  _$$\    \____$$\       $$ |     $$  __$$ |$$ |  $$ |
  \$$$$$$ / \$$$$$$$\ $$ | \$$\  $$$$$$$  |      $$$$$$$$\\$$$$$$$ |$$$$$$$  |
   \___$$$\  \_______|\__|  \__| \_______/       \________|\_______|\_______/ 
       \___|                                                                  
      </pre>
    </div>

    <h1>你好，我是 <span class="art">Q C K</span></h1>

    <p>
      写些什么好呢。。。
    </p>

    <a href="https://www.douban.com/people/LoganQiu_1020" title="LoganQiu_1020 on Douban" target="_blank" rel="noopener noreferrer">&#x1D4D3;ouban</a>
    &squf;
    <a href="https://bgm.tv/user/797972" title="0x7C00 on Bangumi (R18 WARNING)" target="_blank" rel="noopener noreferrer">&#x1D4D1;angumi</a>
    &squf;
    <a href="https://x.com/loganqiu1020" title="@LoganQiu1020 on X" target="_blank" rel="noopener noreferrer">&#x1D4E7;</a>
    &squf;
    <a href="https://steamcommunity.com/id/ArtanisQiu/" title="Friend Code 1011455970" target="_blank" rel="noopener noreferrer">&#x1D4E2;team</a>
    &squf;
    <a href="mailto:loganqiu1020@outlook.com" title="Send an email to me!">&#x1D4DC;ail</a>

  </div>
</BaseLayout>
