---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout pageType="home">
  <div class="max-w-app mx-auto">
    <h1>你好，我是 <span class="art">Q C K</span></h1>

    <p>
      写些什么好呢。。。
    </p>

  </div>
</BaseLayout>
