---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Memo from "@/components/Memos";
---

<BaseLayout pageType="single">
  <section class="my-8">
    <h1>碎碎念</h1>
    <Memo client:load apiBase="https://memos.zeratulqiu.me" />
  </section>
</BaseLayout>
