---
import { SITE } from '@/config';
import ThemeToggle from '@/components/ThemeToggle.astro';
const currentPath = Astro.url.pathname;
---

<header class="max-w-app mx-auto px-4 pt-4 w-full">
  <nav class="border-b">
    <div class="flex justify-between">
      <div class="text-xl">
        <a href="/">{SITE.title}</a>
      </div>
      <div class="flex gap-4">
        <span class={currentPath === "/about" ? "active" : ""}>
          <a href="/about">About</a>
        </span>
        <span class={currentPath.startsWith("/blog") ? "active" : ""}>
          <a href="/blog">Blog</a>
        </span>
        <span class={currentPath === "/archives" ? "active" : ""}>
          <a href="/archives">Archives</a>
        </span>
        <button type="button" aria-label="auto" class="flex">
          <a href="/search" aria-Label="search" title="Search">
            <span class="inline-block -rotate-45 text-xl">&#x26B2;</span>
          </a>
        </button>
        <ThemeToggle />
      </div>
    </div>
  </nav>
</header>
