---
export interface Props {
  prev?: {
    url: string;
    title: string;
  };
  next?: {
    url: string;
    title: string;
  };
}

const { prev, next } = Astro.props;
---

{
  (prev || next) && (
    <nav class="flex justify-between items-center my-8 px-4 py-1 border-x text-sm font-kai">
      <span class="text-muted">
        &larr;&nbsp;
        {prev ? <a href={prev.url}>{prev.title}</a> : <>&empty;</>}
      </span>
      <span class="text-muted">
        {next ? <a href={next.url}>{next.title}</a> : <>&empty;</>}
        &nbsp;&rarr;
      </span>
    </nav>
  )
}
